body{
  text-align: center;
}

.catagories{
  display: flex;
  justify-content: space-around;
}

.list{
  display: flex;
  justify-content: space-around;
}

img{
  width: 75px;
  height: 75px;
}

.header{
  display: flex;
  justify-content:flex-start;
}

.title{
  margin-left: 570px;
}

.plannercontent{
  display: flex;
  justify-content: space-around;
}

.Sun , .Mon , .Tues , .Wed , .Thurs ,  .Fri , .Sat{
  border: 1px solid black;
  padding: 12px;
}

.expensetitle , .incometitle{
  display: flex;
  justify-content: space-around;
}

.slogan{
  font-size: 20px;
}

.Amy , .Jenny , .Susan , .Yonglin{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 5px;
}
