/* html{
  height: 100%;
} */

body{
  text-align: center;
  background-color: #fcf2f0;
  font-size: 23px;
  font-family: 'Chathura', sans-serif;
  margin: 0;
  overflow:auto;
  /* position: fixed; */
}

/* .content{
  overflow-y: scroll;
} */

.footer{
  background-color: #799bc1;
  left: 0;
  bottom: 0;
  width:100%;
  /* padding-bottom: 5px; */
  position: fixed;
  /* height:200px; */
  /* overflow: hidden; */
}

.list{
  display: flex;
  justify-content: space-around;
}

img{
  width: 80px;
  height: 80px;
}

.plannercontent{
  display: flex;
  justify-content: space-around;
}

.Sun , .Mon , .Tues , .Wed , .Thurs ,  .Fri , .Sat{
  border: 1px solid black;
  padding: 15px;
  max-width: 13%;
}

.expensetitle , .incometitle{
  display: flex;
  justify-content: space-around;
}

#slogan{
  font-size: 40px;
  font-family: 'Cinzel', serif;
  margin: 0;
  font-size: 40px;
  position: absolute;
  margin-left: 320px;
}

.Amy , .Jenny , .Susan , .Yonglin{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  border: 2px solid black;
}

.Amyintro , .Yongintro , .Xiaointro , .Susintro{
  width: 30%;
}

.aboutAmy , .aboutYong , .aboutXiao , .aboutSus{
  margin-top: 40px;
  margin-right: 30px;
  width: 80%;
  font-size: 30px;
}

.Amyimg , .Yongimg , .Xiaoimg , .Susimg{
  height: 200px;
  width: 200px;
  border-radius: 1000px;
}


.historylist{
  display: flex;
  justify-content: space-around;
}

.clearall , #clearexpense{
  margin-left: 1300px;
  font-size: 25px;
  outline: none;
}

.todo , .reminder{
  background-color: #e3e4e6;
  padding: 40px;
  padding-bottom: 80px;
  border-radius: 10px;
  font-size: 30px;
  max-width: 36%;
  width: 40%;
}

#inputsun, #inputmon, #inputtues, #inputwed, #inputthurs, #inputfri, #inputsat, #inputexpense, #expenseamount, #inputincome, #inputamount{
  width: 120px;
  height:20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Chathura', sans-serif;
  outline: none;
}

#inputreminder, #inputtodo{
  width: 140px;
  height:20px;
  border-radius: 10px;
  font-family: 'Chathura', sans-serif;
  font-size: 20px;
  outline: none;
}

#clearallbutton, #clearexpense{
  width: 100px;
  border-radius: 10px;
  font-family: 'Chathura', sans-serif;
  font-size: 25px;
  outline: none;
}

/* .logotitle{ */
  /* display: flex;
  justify-content: center;
  margin-bottom: 20px; */
  /* height: 36px;
  margin-right: 1100px;
  position: absolute;
  left: 63px;
  top: 0; */
/* }  */

header{
  position: fixed;
  display: flex;
  height: 80px;
  /* padding: 0 40px; */
  width: 100%;
  background-color: #799bc1;
  /* left: 9px;
  top: -8px; */
  /* float: right; */
  opacity: 100%;
  z-index: 50;

}

nav{
  position: absolute;
  top: 30px;
  right: 0px;
  /* padding: 0 10px; */
  font-family: 'Petit Formal Script', cursive;
  font-size: 15px;
}

a{
  border-radius: 10px;
  margin:10px;
  /* background-color: #ffffff; */
  padding: 10px;
  color: white;
  text-decoration: none;
}

a:hover{
  background-color: #C1D6A7;
  color: #FF9494;
}

#sunadd, #monadd, #tuesadd, #wedadd, #thursadd, #friadd, #satadd, #addtodo, #addreminder{
  font-family: 'Chathura', sans-serif;
  border-radius: 10px;
  height:25px;
  width:40px;
  font-size: 17px;
  outline: none;

}

#clearsun, #clearmon, #cleartues, #clearwed, #clearthurs, #clearfri, #clearsat, #cleartodo, #clearreminder{
  font-family: 'Chathura', sans-serif;
  border-radius: 10px;
  width:120px;
  font-size: 20px;
  outline: none;
}

#incomebutton, #expensebutton{
  font-family: 'Chathura', sans-serif;
  border-radius: 10px;
  width:50px;
  font-size: 17px;
  outline: none;
}

.intro{
  background-image: url("https://candidlykeri.com/s/Thumbnail_2019_February7.jpg");
  padding:35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: grey;
  height:240px;
  border-radius: 30px;
  display: flex;
  border: 8px solid #6394bf;
}

.introp{
  font-family: 'Cinzel', serif;
  font-size: 15px;
}

.hometitle{
  position: absolute;
  left: 96px;
  font-size: 65px;
  top: -53px;
}

.plannertitle, .moneytitle, .abouttitle{
  margin: 0;
  padding-left: 1.5em;
  font-size: 65px;
  top: -10px;
  position: absolute;
}

h1{
  color: white;
  text-shadow: 5px 5px 0 #545357;
}

h2{
  font-size: 50px;
}

.maincontent, .content, .plannercontent {
  padding-top: 100px;
  padding-bottom: 100px;
}

.Sun{
  background-color: #F1F3F2;
  background-repeat: no-repeat;
  color: grey;
  border-radius: 10px;

}

.Mon{
  background-color: #C2D3DA;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: grey;
  border-radius: 10px;
}

.Tues{
  background-color: #81A3A7;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: white;
  border-radius: 10px;
}

.Wed{
  background-color: #AFBADF;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: grey;
  border-radius: 10px;
}

.Thurs{
  background-color: #777CA8;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  border-radius: 10px;
}

.Fri{
  background-color: #585A56;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  border-radius: 10px;
}

.Sat{
  background-color: #272424;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  border-radius: 10px;
}

 .row{
  display: flex;
  justify-content: space-around;
}

.plannertitle , .abouttitle , .moneytitle{
  padding-left: 30px;
}

.biglogo{
  width: 250px;
  height: 250px;
  border-radius: 30px;
  margin-top: -5px;
  margin-left: -5px;
}

.introwriting{
  padding: 25px;
}

ul{
  overflow-wrap: break-word;
  text-align: left;
}


#records{
  margin: 0;
  padding: 0;
  max-width: 40%;
}

#pushprice{
  margin: 0;
  padding: 0;
  max-width: 30%;
}

.Weektitle{
  font-size: 40px;
}

.histitle , .amotitle{
  font-size: 40px;
}

h4{
  font-size: 30px;
}

.L, .M, .T{
  color: #4da0ff;
  }

.Todointro, .moneyintro{
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 30px;
}

 .plannerintro{
   display: flex;
   justify-content: space-around;
   background-color: #dbdbdb;
   border-radius: 30px;
 }

.introimg{
  width: 600px;
  height: 370px;
  padding-top: 15px;
  border-radius: 30px;

}

h3{
  font-size: 70px;
}

h5{
  font-size: 70px;
  text-align: center;
  text-decoration: underline;
  color: grey;

}

#bottom{
  margin:0px;
}
